body {
  margin: 0px;
  min-height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  font-family: Arial, Helvetica, sans-serif;

  width: 500px;
  height: 300px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  font-size: 30px;
  margin: 20px 0px;
}

.todo-grid,
.todo-list {
  display: grid;
  grid-template-columns: 200px 150px 100px;
  grid-gap: 10px;
}

.todo-list {
  align-items: center;
}

button {
  border: none;
  padding: 10px 20px 10px 20px;
  color: white;
  cursor: pointer;
  transition: all 0.15s;
}

.delete-btn {
  background-color: rgb(187, 0, 0);
}
.add-btn {
  background-color: green;
}

.delete-btn:hover,
.add-btn:hover {
  opacity: 50%;
}

.input-error:focus {
  outline: none;
  border: 2px solid rgb(197, 70, 70);
  border-radius: 3px;
  box-shadow: 0 0 6px rgba(224, 107, 107, 0.5);
}
